


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
  max-width: 100%;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 10%; 
}

@media (max-width: 768px) {
  #supportWrapper {
    margin: 0 5%; 
  }
}
